@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


body{
    animation: aparecer 5s;
    background-image: url(pcp.png);
    background-attachment: fixed;
    background-size: cover;
    

}

header h1{
    margin-left: 25%;
    margin-top: 20%;
    font-family: "Bungee Spice", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.9rem;
}

h1{
    position: relative;
}

h1::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgba(14, 13, 13, 0.384);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s;
}

h1:hover::after{
    width: 14%;
}

.title h2{
    color: aqua;
    margin-left: 17%;
}

/* info */

.card{
display: flex;
    width: 226px;
    flex-direction: column;
    margin: 20px;
    height: 178px;
    
}

 .card img{
    height: 150px;
    width: 226px;
 }

 .td{
    display: flex;
 }

 .title1 h2{
    color: aliceblue;
    text-align: center;
 }

 footer{
    text-align: center;
    margin-bottom: 0;
    position: relative;
    margin-top: 100vh;
   margin-bottom: 0;
    transform: translate(-50%);
    margin-left: 50%;
    color: rgb(0, 0, 0);
    font-size: 25px;  
 
 }


 @keyframes aparecer {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
 }